<li>
  {{know.author}}'s question is:-<strong>{{know.question}}</strong>
  {{#if isExploreShowing }}
    <p>NOTE: <strong>{{know.explore}}</strong></p>
  {{else}}
    <button>How the question erupted.</button>
  {{/if}}
</li>
