.jumbotron{
  background-color: blue;
  font-style: italic;
  color:  white;
  background-size: fill;
}
.main{
  background-color: darkgreen;
  color: orange;
  font-size: 20px;
}
.bottom{
  background-color: blue;
  font-style: italic;
  color: white;
  font-size: 20px;
}
