<body class="main">
  <div class="container-fluid">
    <header class="jumbotron">
      <h1>Welcome to Question and Answer Palace.</h1><br>
    </header>
    {{outlet}}
    <hr>
    <footer class="bottom">
      <p>We would like to hear more from you. Thank you.<br>
        {{#link-to 'contact'}}Click to contact us.{{/link-to}}
      </p>
    </footer>
  </div>
</body>
