<h3>More information about {{model.author}} is:-</h3><br>

{{know-detail know=model destroyKnow="destroyKnow" destroyAnswer="destroyAnswer"}}
{{update-know know=model update="update"}}
{{new-answer know=model saveAnswer="saveAnswer"}}
