<h3>More information about {{model.author}} is:-</h3>

{{update-know know=model update="update"}}
{{know-detail know=model destroyKnow="destroyKnow" destroyAnswer="destroyAnswer"}}
{{new-answer know=model saveAnswer="saveAnswer"}}
